MAHJONG_VERSION=dev
IMAGE_REGISTRY=local
GAME_SERVER_VARIANT=fake
GAME_SERVER_MAP=
MAHJONG_DATA_ROOT=/var/lib/guiyang-mahjong
ADVERTISED_IP=192.0.2.10
AUTH_PORT=18082
LOBBY_PORT=18080
ALLOCATOR_PORT=18081
GAME_PORT_START=19000
GAME_PORT_END=19099
POSTGRES_CPUS=2.0
POSTGRES_MEMORY=2g
REDIS_CPUS=1.0
REDIS_MEMORY=1g
AUTH_CPUS=1.0
AUTH_MEMORY=512m
LOBBY_CPUS=2.0
LOBBY_MEMORY=1g
GAME_NODE_CPUS=8.0
GAME_NODE_MEMORY=16g
POSTGRES_PASSWORD=replace-with-a-random-value
PLAYER_TOKEN_SIGNING_KEY=replace-with-at-least-32-random-characters
GUEST_IDENTITY_PEPPER=replace-with-at-least-32-random-characters
JOIN_TICKET_SIGNING_KEY=replace-with-at-least-32-random-characters
LOBBY_INTERNAL_TOKEN=replace-with-at-least-32-random-characters
ALLOCATOR_SERVICE_TOKEN=replace-with-at-least-32-random-characters
