POSTGRES_PASSWORD=replace-with-random-database-password
PLAYER_TOKEN_SIGNING_KEY=replace-with-at-least-32-random-characters
GUEST_IDENTITY_PEPPER=replace-with-at-least-32-random-characters
JOIN_TICKET_SIGNING_KEY=replace-with-at-least-32-random-characters
LOBBY_INTERNAL_TOKEN=replace-with-at-least-32-random-characters
ALLOCATOR_SERVICE_TOKEN=replace-with-at-least-32-random-characters
ALLOCATOR_CALLBACK_TOKEN=replace-with-at-least-32-random-characters
